<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>橙按钮新形状_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1693},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1515},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,269},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{234,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{234,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1159},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{232,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChengButtonEndless.png</string>
            <key>size</key>
            <string>{238,1782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df793dbca643af0778fbeac6ce2929d4$</string>
            <key>textureFileName</key>
            <string>ChengButtonEndless.png</string>
        </dict>
    </dict>
</plist>
