<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>橙按钮_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{237,68}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{237,68}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{237,68}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,68}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{235,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{235,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{237,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{237,66}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{235,68}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{235,68}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{235,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{235,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{237,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{237,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{237,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{237,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{237,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,74}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{237,74}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{237,72}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{237,72}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{237,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
            <key>橙按钮_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{237,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{237,70}}</string>
                <key>sourceSize</key>
                <string>{237,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chengbutton.png</string>
            <key>size</key>
            <string>{241,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bd11cab1da0ed37171f9e8136064fa$</string>
            <key>textureFileName</key>
            <string>Chengbutton.png</string>
        </dict>
    </dict>
</plist>
