<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>橙按钮新形状_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{236,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{236,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{232,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{230,87}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{230,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1375},{226,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{226,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1197},{226,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1108},{226,87}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,87}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{226,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{226,89}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,89}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{226,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{226,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{226,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{226,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1557},{222,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{222,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1743},{210,91}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{210,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{212,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{212,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{224,91}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{224,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{230,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{230,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{232,91}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{232,91}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{234,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{234,93}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
            <key>橙按钮新形状_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{236,93}}</string>
                <key>sourceSize</key>
                <string>{240,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangButtonEndless.png</string>
            <key>size</key>
            <string>{240,1836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4598713c69bc9b2e3f6d5d3d4d7c649$</string>
            <key>textureFileName</key>
            <string>HuangButtonEndless.png</string>
        </dict>
    </dict>
</plist>
