<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>冰冻炮_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1168},{222,216}}</string>
                <key>offset</key>
                <string>{-19,402}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,190},{222,216}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1168},{218,208}}</string>
                <key>offset</key>
                <string>{-15,411}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,185},{218,208}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{246,238}}</string>
                <key>offset</key>
                <string>{-13,410}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,171},{246,238}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,280},{256,222}}</string>
                <key>offset</key>
                <string>{-21,404}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,185},{256,222}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1084},{270,266}}</string>
                <key>offset</key>
                <string>{-16,412}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,155},{270,266}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,586},{336,290}}</string>
                <key>offset</key>
                <string>{-14,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,148},{336,290}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{354,254}}</string>
                <key>offset</key>
                <string>{-9,411}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,162},{354,254}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,306}}</string>
                <key>offset</key>
                <string>{1,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,140},{358,306}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,310},{342,274}}</string>
                <key>offset</key>
                <string>{5,412}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,151},{342,274}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{356,306}}</string>
                <key>offset</key>
                <string>{-2,407}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{356,306}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{332,288}}</string>
                <key>offset</key>
                <string>{-12,415}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,141},{332,288}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{338,290}}</string>
                <key>offset</key>
                <string>{-1,415}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,140},{338,290}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,878},{324,288}}</string>
                <key>offset</key>
                <string>{3,418}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,138},{324,288}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,504},{310,274}}</string>
                <key>offset</key>
                <string>{6,419}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,144},{310,274}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,816},{304,266}}</string>
                <key>offset</key>
                <string>{-5,414}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,153},{304,266}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
            <key>冰冻炮_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{276,260}}</string>
                <key>offset</key>
                <string>{-5,419}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,151},{276,260}}</string>
                <key>sourceSize</key>
                <string>{640,1400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BDD.png</string>
            <key>size</key>
            <string>{986,1396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3420c05b4bd75224351d4305983b315d$</string>
            <key>textureFileName</key>
            <string>BDD.png</string>
        </dict>
    </dict>
</plist>
