<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>电浆炮_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,704},{194,342}}</string>
                <key>offset</key>
                <string>{-14,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,358},{194,342}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,2},{202,614}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,86},{202,614}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,704},{74,542}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,158},{74,542}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,704},{202,644}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,56},{202,644}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,908},{162,628}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,72},{162,628}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{194,700}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{194,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{176,700}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{176,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{184,700}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{184,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{152,700}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{152,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1096},{180,700}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{180,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{74,700}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{74,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{190,700}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{190,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,618},{76,700}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{76,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{204,700}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{204,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,610},{80,700}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{80,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{204,700}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{204,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,700}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{208,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1162},{84,700}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{84,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,700}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{208,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,618},{86,696}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,4},{86,696}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{198,700}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{198,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1072},{88,700}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,0},{88,700}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{178,606}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{178,606}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,704},{74,518}}</string>
                <key>offset</key>
                <string>{5,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,24},{74,518}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
            <key>电浆炮_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1248},{62,466}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,44},{62,466}}</string>
                <key>sourceSize</key>
                <string>{320,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DJP.png</string>
            <key>size</key>
            <string>{2008,1321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8e9681f29a6917a8152280606ee055$</string>
            <key>textureFileName</key>
            <string>DJP.png</string>
        </dict>
    </dict>
</plist>
