<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bz0.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>97</integer>
				<key>originalHeight</key>
				<integer>79</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz1.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>192</integer>
				<key>x</key>
				<integer>99</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz2.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>265</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>265</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz3.png</key>
			<dict>
				<key>width</key>
				<integer>315</integer>
				<key>height</key>
				<integer>341</integer>
				<key>originalWidth</key>
				<integer>315</integer>
				<key>originalHeight</key>
				<integer>341</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz4.png</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>297</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>297</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz5.png</key>
			<dict>
				<key>width</key>
				<integer>322</integer>
				<key>height</key>
				<integer>301</integer>
				<key>originalWidth</key>
				<integer>322</integer>
				<key>originalHeight</key>
				<integer>301</integer>
				<key>x</key>
				<integer>323</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz01.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>647</integer>
				<key>y</key>
				<integer>343</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz11.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>243</integer>
				<key>originalHeight</key>
				<integer>224</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>646</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz21.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>646</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bz41.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>353</integer>
				<key>originalWidth</key>
				<integer>341</integer>
				<key>originalHeight</key>
				<integer>353</integer>
				<key>x</key>
				<integer>533</integer>
				<key>y</key>
				<integer>646</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>l_bomb0.png</string>
			<key>realTextureFileName</key>
			<string>l_bomb0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>